.elementor-7 .elementor-element.elementor-element-c91172d {
    margin-top: -100px;
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-5c7e39f4 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-4aa2b141 {
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-1b0f9eea:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-7 .elementor-element.elementor-element-1b0f9eea > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("courses.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-1b0f9eea > .elementor-element-populated > .elementor-background-overlay {
    background-color: #0A68B1EB;
    opacity: 1;
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-7 .elementor-element.elementor-element-1b0f9eea > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-7 .elementor-element.elementor-element-1b0f9eea > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-4d6bac72 > .elementor-widget-container {
    padding: 40px 40px 40px 40px;
}

.elementor-7 .elementor-element.elementor-element-172289f3:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-7 .elementor-element.elementor-element-172289f3 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("geography-teacher-4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-172289f3 > .elementor-element-populated > .elementor-background-overlay {
    background-color: #174873EB;
    opacity: 1;
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-7 .elementor-element.elementor-element-172289f3 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-7 .elementor-element.elementor-element-172289f3 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-4dc7b0f5 > .elementor-widget-container {
    padding: 40px 40px 40px 40px;
}

.elementor-7 .elementor-element.elementor-element-46bfa6cb:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-7 .elementor-element.elementor-element-46bfa6cb > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("admission.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-46bfa6cb > .elementor-element-populated > .elementor-background-overlay {
    background-color: #0A68B1EB;
    opacity: 1;
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.elementor-7 .elementor-element.elementor-element-46bfa6cb > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-7 .elementor-element.elementor-element-46bfa6cb > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-25476f48 > .elementor-widget-container {
    padding: 40px 40px 40px 40px;
}

.elementor-7 .elementor-element.elementor-element-1a2a3c0a {
    margin-top: 0px;
    margin-bottom: 74px;
}

.elementor-7 .elementor-element.elementor-element-532f2dc4 {
    margin-top: 0px;
    margin-bottom: 65px;
}

.elementor-7 .elementor-element.elementor-element-1b19bba > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-1b19bba > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-6fd760c8 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-3a4f718d {
    margin-top: 0px;
    margin-bottom: 65px;
}

.elementor-7 .elementor-element.elementor-element-73f51259 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-5dc70f83:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-5dc70f83 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("slide1.jpg");
    background-repeat: no-repeat;
}

.elementor-7 .elementor-element.elementor-element-5dc70f83 > .elementor-background-overlay {
    background-color: #2F2F2FE6;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-5dc70f83 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 75px;
}

.elementor-7 .elementor-element.elementor-element-4bfa9f1d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-4bfa9f1d > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-286b467a > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-1dfc59e7 .gallery-item {
    padding: 0 0px 0px 0;
}

.elementor-7 .elementor-element.elementor-element-1dfc59e7 .gallery {
    margin: 0 -0px -0px 0;
}

.elementor-7 .elementor-element.elementor-element-1dfc59e7 .gallery-item .gallery-caption {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-1dfc59e7 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-401133ce {
    margin-top: 0px;
    margin-bottom: 100px;
}

.elementor-7 .elementor-element.elementor-element-42e0cc22 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-1123faec {
    margin-top: 0px;
    margin-bottom: 100px;
}

.elementor-7 .elementor-element.elementor-element-4d4fcfd7 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-4d4fcfd7 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-16b992d8 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-16b992d8 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-545ac94a {
    padding: 100px 0px 100px 0px;
}

.elementor-7 .elementor-element.elementor-element-7b6e35fd > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-75226f33 {
    --e-image-carousel-slides-to-show: 5;
}

.elementor-7 .elementor-element.elementor-element-75226f33 .elementor-swiper-button.elementor-swiper-button-prev, .elementor-7 .elementor-element.elementor-element-75226f33 .elementor-swiper-button.elementor-swiper-button-next {
    color: #E79800;
}

.elementor-7 .elementor-element.elementor-element-75226f33 .elementor-swiper-button.elementor-swiper-button-prev svg, .elementor-7 .elementor-element.elementor-element-75226f33 .elementor-swiper-button.elementor-swiper-button-next svg {
    fill: #E79800;
}

.elementor-7 .elementor-element.elementor-element-75226f33 .swiper-wrapper {
    display: flex;
    align-items: center;
}
